<footer class="flex text-white border-solid border-t-2 border-primary-dark gap-8 justify-center items-center py-3">
    <div class="text-base">
        <span>&copy</span>
        <span>2024</span>
    </div>
    <div class="h-12 w-0.5 bg-white"></div>
    <div class="text-base">ealvar6</div>
    <div class="h-12 w-0.5 bg-white"></div>
    <div>
        <a href="https://github.com/ealvara6" target="_blank">
            <div class="w-12 h-12 bg-contain bg-no-repeat" style="background-image: url(/images/github-mark-white.svg);"></div>
        </a>
    </div>
</footer>