<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/output.css">
</head>
<body>
    <div class="flex flex-col min-h-screen gap-3">
        <%- include('navbar', {links: links}) %>
        <div class="flex flex-col self-center grow min-w-full md:min-w-[700px] p-3 md:p-0 text-white justify-center">
            <div class="flex flex-col border-solid border-secondary-light border-2 rounded-md">
                <div class="flex justify-center border-solid border-secondary-light border-b-2"><span class="text-3xl font-bold p-3">Message Form</span></div>
                <form class="flex flex-col gap-3 p-3" method="POST" action="/new">
                    <div class="flex gap-3">
                        <label class="text-xl font-bold" for="user">User:</label>
                        <input class="border-sold border-primary-dark border-2 bg-secondary-light text-primary-dark rounded-md" type="text" name="user" id="user" required>
                    </div>
                    <div class="flex gap-3 flex-col">
                        <label class="text-xl font-bold w-fit" for="message">Message:</label>
                        <textarea style="resize: none;" class="border-sold border-primary-dark border-2 bg-secondary-light text-primary-dark rounded-md" name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <div class="flex gap-3 md:self-end md:w-48">
                        <input class="grow bg-secondary-dark rounded-md min-h-16 md:min-h-12 text-white cursor-pointer font-bold" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <%- include('footer') %>
    </div>
</body>
</html>