<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/output.css">
</head>
<body>
    <div class="flex flex-col min-h-screen gap-3">
        <%- include('navbar', {links: links}) %>
        <div class="flex flex-col self-center min-w-full p-3 md:min-w-[700px] md:p-0 text-white">
            <div class="border-sold border-secondary-light rounded-lg border-2 p-3 flex flex-col gap-3">
                <div class="self-center font-bold font-extrabold font text-4xl">posts</div>
                <ul class="flex flex-col gap-5 max-w-full ">
                    <% messages.map((message) => { %>
                        <li class="p-2 border-2 border-secondary-light border-solid rounded-lg">
                            <div><span class="font-bold text-lg">User: </span> <%= message.user %></div>
                            <div>
                                <span class="font-bold text-lg">Message: </span> 
                                <% if(message.emptyMessage) { %>
                                    <span class="italic">No Message Added</span>
                                <% } else { %>
                                   <%= message.message %> 
                                <% } %>
                            </div>
                            <div><span class="font-bold text-lg">Date Added: </span><%= message.added %></div>
                        </li>
                    <% }) %>
                </ul>
                <a href="/new" class="flex md:self-end">
                    <button class="grow md:grow-0 md:min-h-12 md:w-48 min-h-16 bg-secondary-dark w-fit p-2 text-white font-bold rounded-lg">Add new post</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>