<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/output.css">
</head>
<body>
    <div class="container">
        <%- include('navbar') %>
        <h1 class="text-3xl font-bold underline">
            Hello world!
          </h1>
        <div class="content">
            <ul class="posts">
                <% messages.map((message) => { %>
                    <li class="post">
                        <div class="info"><span class="info-desc">Message: </span> <%= message.message %><br></div>
                        <div class="info"><span class="info-desc">User: </span> <%= message.user %><br></div>
                        <div class="info"><span class="info-desc">Date Added: </span><%= message.added %><br></div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>