<nav class="flex items-center min-h-16 border-b-2 border-black shadow-md p-2">
    <div class=" text-xl md:text-3xl font-extrabold grow">Mini Message Board</div>
    <div class="flex align-center justify-center min-h-8 gap-3 items-center">
        <% links.map((link) => { %>
            <a href=<%=link.link %> class="hover:border-b-2 hover:border-black hover:border-solid active:border-b-2 active:border-black active:border-solid">
                <%= link.name %>
            </a>
        <% }) %>
    </div>
</nav>