.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid black;
    padding: 10px;
}

.info-desc {
    font-size: 20 px;
    font-weight: 900;
}